{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello my name Joel J. Frias Martinez I am an Electromechanical Engineer with about 4 years of experience in the electrical sector, in areas such as mining, metrology and project execution.?</p>
        <p>In the same way I dedicate myself to university teaching in the area of mathematics.</p>
        <p>I am a programmer in the Python language, but I also handle HTML, CSS among other tools. This website is a sample of the things I can do, but if you want to see everything I've done and learn more about me, I'll leave you the links to my resume, programming project list and personal web page.</p>
        <p><a href="https://jfriasrd.github.io/cv/">Resume</a></p>
        <p><a href="https://jfriasrd.github.io/cv/python_project.html">Programming project list</a></p>
        <p><a href="https://jfriasrd.github.io/webpage/">Personal website</a></p>
        <p><a href="https://www.linkedin.com/in/joel-jose-frias-martinez-303890127/">Linkedin profile</a></p>
        <p>This web page has the purpose of being a place in which I can upload a blog on different themes where you can give your opinion and give your critical point.</p>
        <p>If you want to contact me you can do it in the CONTACT section or by accessing to my social medias which are at the end of this page.</p>
        <p> I hope you like it and enjoy!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}